/* .device-care-logo{
    background: url('../Images/');
} */
html{
    height: 100%;
}
body{
    height: 100% !important;
    font-family: 'Open Sans',sans-serif !important;
}
.datepicker-header{
    background-color: #fff;
    height: auto !important;
}
/* .add-device-stepper{
    min-height: 82vh;
} */
/* .stepper-head-text{

} */
.main-body{
    background: transparent url('../Images/BG4.PNG');
    background-position: center  ;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.bg-blue{
    background: transparent url('../Images/BG5.PNG');
    background-position: center  ;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
    min-height: 100vh;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
} 

.device-care-logo{
    width: 150px;
    height: auto;
}

.active-nav-menu{
    border-left: 3px solid white;
    background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
}


.device-care-logo1{
    width: 200px;
    height: auto;
    padding: 0;

}

#signinbutton{
background-color: #243F7C;
}
#form-next-button,#ok-btn,#success-btn-ok{
    background: #243F7C;
}
.step-ind-active{
    border-color: #0052cc  ;
    color:#0052cc;
}
.resend-code-link{
    color: #0052cc;
}
#form-next-button:hover,#ok-btn:hover,#success-btn-ok:hover{
background-color: #0052cc;
}

.pin:focus{
    border-color: #0052cc !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* .hiddenn{
    display:;
} */



.stepper{
    display: flex;
    justify-content: space-between;

    
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    transition: height .2s ease-in-out;
}

.stepper-horizontal{
    
    overflow-x: hidden;
}

.stepper-step{
    flex: auto;
    height: 4.5rem;
}

.stepper-head{
    padding-left:1.5rem;

    display:flex;
    align-items: center;
    text-decoration: none;
    color: unset;
    line-height: 1.3;
    cursor: pointer;
}

.stepper-content{
    position: absolute;
    width: 100%;
    padding: 1rem;
}

.card-section{
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}